@import "../../styles/theme"

.layout
    width: 60%
    padding: 2em 0
    margin: 0 auto
    height: 100%
    display: flex
    flex-direction: column

    .logo
        margin-bottom: 2em

    &__container
        padding: 2em 0
        display: flex
        justify-content: space-between

    &__footer
        margin-top: auto
        padding: 2em 0

        &-copyright
            font-weight: bold
            color: $footer-copyright-domain-text-color
